.article-section {
  padding: 8rem 2rem 0 2rem;
  width: 100%;
}

.article-message-div {
  text-align: center;
}

.article-message {
  font-size: 2rem;
}

.error-button {
  @include button-green();
  margin: 3rem auto 1rem auto;
  padding: 0.5rem 2rem 0.5rem 2rem;
}
