#logout-section {
  text-align: center;
  padding-bottom: 10rem;
}

.logout-button {
  color: $color-red;
  font-size: 1.25rem;
  cursor: pointer;
  outline: none;
  border: none;
  background-color: inherit;
}
