//HeaderCancel
#header-cancel {
  height: 6rem;
  width: max-content;
  padding-left: 2rem;

  position: absolute;
  top: 2rem;
  @include respond(tab-port) {
    right: 2rem;
  }
}

.cancel-button,
.cancel-button:visited {
  font-size: 2rem;
  text-decoration: none;
  color: $color-green-dark;
  font-family: $font-title;
}

.cancel-button:active,
.cancel-button:hover {
  color: $color-red;
}

//FINDBOOK
.header-cancel-title {
  width: 80%;
  margin: 0 auto;
}
