.button {
  font-size: 3rem;
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  border: $border-basic;
  background-color: $color-beige-light;
}

.book-button {
  @include button-green();
  background-color: $color-green-light;
  color: white;
  padding: 0.5rem 1rem;
  margin: 3rem 0 2rem 0;
}

.button-send {
  color: $color-green-light;
}
